<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base.css">
</head>
<body>
    <center>
        <h1 style="color: green">

        </h1>
        <form>

            <div class="dropdown">
                <button class="pick_currency">
                    Укажите тип валюты
                </button>

                <div class="dropdown-content">
                    <a href="#"><img src="" width="20" height="15"> India</a>
                    <a href="#"><img src="" width="20" height="15"> USA</a>
                    <a href="#"><img src="" width="20" height="15"> England</a>
                    <a href="#"><img src="" width="20" height="15"> Brazil</a>
                    <a href="#"><img src="" width="20" height="15"> Евро</a>
                </div>
            </div>
            <label for="In_Currency">Введите Количество</label>
            <input name="In_Currency" type="number" step="0.01">
            <div class="dropdown">
                <button class="pick_currency">
                    Конвертировать в
                </button>

                <div class="dropdown-content">
                    <a href="#"><img src="" width="20" height="15"> India</a>
                    <a href="#"><img src="" width="20" height="15"> USA</a>
                    <a href="#"><img src="" width="20" height="15"> England</a>
                    <a href="#"><img src="" width="20" height="15"> Brazil</a>
                    <a href="#"><img src="" width="20" height="15"> Евро</a>
                </div>
            </div>
            <input type="submit" value="Конвертировать">
        </form>
    </center>
</body>

</html>