<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/converter_frontend/css/index.css" />
</head>
<body>
    <div class="page">
        <header class="page-header">
            <nav class="page-navigation">
                <ul class="navigation-list">
                    <li>
                        <span>
                            <a href="/">
                                Конвертер валют
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="/contacts/">
                                Контакты
                            </a>
                        </span>
                    </li>
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            Разработчикам
                        </span>
                        <a href="{% url 'api:docs' %}" class="navigation-list__item-link">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block page_content %}
        {% endblock %}
        <footer class="page-footer">
            <span class="page-copyright">
                © GeekBrains
            </span>
        </footer>
    </div>
</body>
</html>