{% extends 'converter_frontend/base.html' %}

{% block page_title %}
Конвертер Валют
{% endblock %}

{% block page_content %}
        <div class="page-content">
            <h1>Конвертер валют по состоянию на {{ currencies_rate_date }}</h1>
        <form action="{% url 'converter_frontend:converter' %}" target="_self" method="post">{% csrf_token %}

            <div class="main-block">
                    <div class="from-and-to-block">
                        <label for="from_currency">У меня есть:</label>
                        <br />
                        <br />
                        <select name="from_currency" id="from_currency" class="rounded-form" required>
                            {% for key, value in currency_info.items %}
                                {% if value.Валюта != None %}
                                {% if forloop.first %}
                                    <option selected value="{{ key }}">{{ value.Валюта }} {{ value.Символ }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ value.Валюта }} {{ value.Символ }}</option>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
            <br>
            <input type="number" min="0,0001" step="0.01" id="amount_of_currency_from" name="amount_of_currency_from" class="rounded-input" required />
            </div>
            <div class="arrow">
                        <img src="img/arrow.svg" alt="">
            </div>
            <div class="from-and-to-block">
                        <label for="to_currency">Хочу получить:</label>
                        <br />
                        <br />

                <select name="to_currency" id="to_currency" class="rounded-form" required>
                    {% for key, value in currency_info.items %}
                        {% if value.Валюта != None %}
                            {% if forloop.first %}
                                <option selected value="{{ key }}">{{ value.Валюта }} {{ value.Символ }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value.Валюта }} {{ value.Символ }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            <br>
            <div class="result">{{ converter }}</div>
            </div>
        </div>
        <input type="submit" value="Конвертировать" class="submit-button">
            </form>
        </div>
{% endblock %}
